@font-face {
    font-family: 'Roboto';
    src: url("../src//util//fonts/Roboto-Regular.ttf") format('truetype');
  }

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: blue;
}

.main-nav h1 {
    color: white;
}

.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
}

.inner-post {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    height: 100%;
}

.rate-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
}
.title {
    margin: 10px;
    height: 119px;
    overflow: hidden;
}
hr {
    margin: 10px
}
.thumbnail {
    
    margin: 10px;
}
